﻿
/* For selector explanations see
	http://www.w3schools.com/cssref/css_selectors.asp
	and http://www.w3schools.com/cssref/trysel.asp
	and http://www.w3schools.com/cssref/tryit.asp?filename=trycss3_attr_contain
		with example of 

			<!DOCTYPE html>
				<html>
				<head>
				<style> 
				div[class*="test"] {
					background: #ffff00;
				}
				div[class="test"]>[class*="Woggle"] {
					background: #ff8800;
				}
				div.DataRow {white-space: nowrap; overflow: visible; }
				div.DataRow>[id*="Col"] { display:inline-block; white-space: nowrap; overflow: visible; }
				div.DataRow>[id*="DataRowCol1"] { width:100px; }
				div.DataRow>[id*="DataRowCol2"] { width:150px; }
				div.DataRow>[id*="DataRowCol3"] { width:150px; }
				div.DataRow>[id*="DataRowCol3"]>input { width:60px; background: #ffc080 }
				div.DataRow>[id*="DataRowCol4"] { width:100px; }


				</style>
				</head>
				<body>

				<div class="first_test">The first div element.</div>
				<div class="second">The second div element.</div>
				<div class="test">The third div element.</div>
				<div class="test">The <div class="Woggle">third</div> div element.</div>
				<div id="divC3OpenMarket" class="DataRow">
				  <div id="divDataRowCol1">Col1</div>
				  <div id="divDataRowCol2">Col2</div>
				  <div id="divDataRowCol3"><input /></div>
				  <div id="divDataRowCol4">Col4</div>
				</div>
				<p class="test">This is some text in a paragraph.</p>

				</body>
				</html>


	*/

div.cookiebanner { display: none; }

#TDCInfo { clear: both; display: block; }
	#TDCInfo p { color: #333333; }
	#TDCInfo img.Padded { padding: 8px 8px 8px 8px; }
	/*#TDCInfo img[id^="imgHelp"] { padding-left:20px;padding-right:20px;float:right;}*/
	#TDCInfo img[id^="imgHelp"] { padding-left: 10px; padding-right: 10px; }
	#TDCInfo a.Download { padding: 5px; border: medium solid #006699; background-color: #99FFCC; border-radius: 5px; }
	#TDCInfo input, textarea, select { background-color: #ebff3d; font-size: 100%; }

	#TDCInfo div { color: #333333; display: block; font-size: 98%; }
		/* DIV classes to use for the master sectioned layout */
		#TDCInfo div.FormFields { padding-left: 10px; }
		#TDCInfo div.ContainedCommentMsg { white-space: nowrap; margin-left: 8px; vertical-align: top; display: inline-block; font-size: smaller; }
		#TDCInfo div.PanelContainerFullWidth { width: 99%; }
		#TDCInfo div.PageContainerFullWidth { width: 1000px; background-color: #FAF53A; margin-bottom: 15px; overflow: visible; }
		#TDCInfo div.PanelContainerForFloats { padding: 5px; position: relative; width: 100%; }
		#TDCInfo div.PanelContainer { padding: 5px; }
		#TDCInfo div.LHPanel { padding: 2px; }
		#TDCInfo div.LHInnerPanel { display: inline-block; padding: 2px; }
		/*#TDCInfo div.LHInnerPanel { display: inline-block; white-space: nowrap; padding: 2px; }*/
		#TDCInfo div.RHPanel { padding: 2px; }
		/*#TDCInfo div.RHInnerPanel { display: inline-block; white-space: nowrap; padding: 2px; }
		#TDCInfo div.RHInnerPanel { display: inline-block; padding: 2px; }
		#TDCInfo div.DiscreetPanel { display: inline-block; white-space: nowrap; padding: 2px; text-align: center; vertical-align: top; }
		#TDCInfo div.DiscreetPanelRight { display: inline-block; white-space: nowrap; padding: 2px; text-align: center; vertical-align: top; position: relative; float: right; }
		#TDCInfo div.PaddedPanel { padding: 4px; }
		/* DIV Classes to use for general display and layout */
		#TDCInfo div.MandatoryMsg { font-size: 80%; color: Red; padding-top: 6px; }
		#TDCInfo div.CommentMsg { font-size: 80%; white-space: normal; }
		#TDCInfo div.InformationText { white-space: normal; }
		#TDCInfo div.LargerText { font-size: 105%; }
		#TDCInfo div.SmallerText { font-size: 80%; }
		#TDCInfo div.Container { white-space: nowrap; page-break-inside: avoid; }
		#TDCInfo div.Contained { white-space: nowrap; vertical-align: top; display: inline-block; }
		#TDCInfo div.InfoSection { white-space: nowrap; vertical-align: top; display: inline-block; }
		#TDCInfo div.InfoSectionBold { white-space: nowrap; vertical-align: top; display: inline-block; font-weight: bolder; }
		#TDCInfo div.Summary { font-size: 105%; font-weight: bolder; }
		#TDCInfo div.TooltipBox { position: absolute; z-index: 2; background-color: wheat; border: 3px outset Red; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: center; }
		/*#TDCInfo div[class^="FormBlock"] { margin: 4px; border-radius: 5px; border: 2px solid navy; padding: 5px; }
		#TDCInfo div.FormBlock1 { background-color: #EDFAED; }
		#TDCInfo div.FormBlock2 { background-color: #E6F8E6;  }
		#TDCInfo div.FormBlock3 { background-color: #E0F4E0;  }
		*/
		#TDCInfo div[class^="FormBlock"] { padding-bottom: 10px; }
		#TDCInfo div.FormBlock1 { }
		#TDCInfo div.FormBlock2 { }
		#TDCInfo div.FormBlock3 { }
//#TDCInfo div.FieldInlineContainer { display: inline-block; white-space: nowrap; padding: 2px; }
#TDCInfo div.FieldInlineContainer { display: inline-block; /*white-space: nowrap; */ padding: 2px; }


#TDCInfo div.DataDialogRow { white-space: nowrap; overflow: visible; border: thin solid #C0C0C0; }
	#TDCInfo div.DataDialogRow [id*="Col"] { padding: 4px; margin: 0px; display: inline-block; white-space: normal; overflow: auto; height: 100%; vertical-align: top; }
	#TDCInfo div.DataDialogRow [id*="Hdr"] { font-weight: bolder; }
	#TDCInfo div.DataDialogRow [id$="Col1Of4"] { width: 400px; }
	#TDCInfo div.DataDialogRow [id$="Col2Of4"] { width: 150px; text-align: right; border-left: thin solid #C0C0C0; }
	#TDCInfo div.DataDialogRow [id$="Col1and2Of4"] { width: 550px; }
	#TDCInfo div.DataDialogRow [id$="Col3Of4"] { width: 150px; border-left: thin solid #C0C0C0; text-align: right; }
		#TDCInfo div.DataDialogRow [id$="Col3Of4"] > input { width: 100px; background-color: #e5f8e4; }
	/* Set input box to be slightly smaller than containing DIV  */
	#TDCInfo div.DataDialogRow [id$="Col12and3Of4"] { width: 700px; }
	#TDCInfo div.DataDialogRow [id$="Col4Of4"] { width: 150px; text-align: right; }
		#TDCInfo div.DataDialogRow [id$="Col4Of4"] > input { width: 100px; background-color: #e5f8e4; border-left: thin solid #C0C0C0; }
/* Set input box to be slightly smaller than containing DIV  */

.HideFromPrint { display: inherit; }

@media all and (min-width:750px) {
	#TDCInfo div.FixedQuestionWidth { width: 500px; display: inline-block; }
	#TDCInfo div.PopoutLargePanel { position: fixed; top: 50%; left: 50%; margin-left: -40%; margin-top: -20%; max-width: 80%; max-height: 70%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: left; overflow: auto; }
	#TDCInfo div.PopoutSmallPanel { position: fixed; top: 40%; left: 50%; margin-left: -15%; margin-top: -10%; max-width: 30%; max-height: 50%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: center; overflow: visible; }
	#TDCInfo div[id*="SubmissionControls"] { margin-left: 50px; padding: 10px; }
}

@media all and (min-width: 550px) and (max-width: 749px) {
	#TDCInfo div.FixedQuestionWidth { width: 300px; display: inline-block; }
	#TDCInfo div.PopoutLargePanel { position: fixed; top: 50%; left: 50%; margin-left: -40%; margin-top: -20%; max-width: 80%; max-height: 70%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: left; overflow: auto; }
	#TDCInfo div.PopoutSmallPanel { position: fixed; top: 40%; left: 50%; margin-left: -15%; margin-top: -10%; max-width: 30%; max-height: 50%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: center; overflow: visible; }
}

@media All and (max-width: 549px) {
	#TDCInfo div.FixedQuestionWidth { display: inline-block; }
	#TDCInfo div.PopoutLargePanel { position: fixed; top: 5%; left: 5%; max-width: 90%; max-height: 70%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: left; overflow: auto; }
	#TDCInfo div.PopoutSmallPanel { position: fixed; top: 15%; left: 10%; max-width: 70%; max-height: 60%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: center; overflow: visible; }
}

@media print {
	.HideFromPrinter { display: none; }
}

#TDCInfo img.Padded { padding: 6px; }

#TDCInfo .MandatoryMsg { color: Red; }
#TDCInfo .Bordered { margin-top: 6px; border: thin solid #7d7b7b; }
/*#TDCInfo .FieldNeeded { box-shadow: 0 0 5px Red; }*/
#TDCInfo .FieldNeeded { }
#TDCInfo .Focused { border: medium solid Black; }

#TDCInfo input { font-weight: bold; background-color: white; }
#TDCInfo textarea { margin-top: 6px; background-color: white; border: thin solid #7d7b7b; font-weight: bold; }
#TDCInfo select { margin-top: 6px; border: thin solid black; background-color: white; }
#TDCInfo .Popup { display: none; }
#TDCInfo .Hidden { display: none !important; visibility: hidden !important; }
#TDCInfo .LargeWarning { display: none; }
#TDCInfo .warning { display: none; }
#TDCInfo .ModalPopup { display: none; }
#TDCInfo .ModalPopupInfo { display: none; }
#TDCInfo .ReduceText { font-size: smaller; }
#TDCInfo .Rounded { padding: 5px; margin: 5px; border-radius: 5px; }
#TDCInfo .Stealthy { border: 0px none #FFFFFF; color: White; background-color: #FFFFFF; margin: 0px; padding: 0px; font-size: 1px; text-decoration: none; z-index: -1; float: left; visibility: hidden; }
#TDCInfo .NoWrap { white-space: nowrap; }

#TDCInfo button, input[type=button], input[type=reset], input[type=select] { color: #fff; background-color: #028468; border-color: #000; }
#TDCInfo button.MouseOver, input[type=button].MouseOver, input[type=reset].MouseOver, input[type=select].MouseOver { color: #fff; background-color: #012f25; border-color: #000; } 
/* Like the Purple Creative buttons */

#TDCInfo button:disabled, [type=button]:disabled, input[type=reset]:disabled, input[type=select]:disabled { background-color: #ffe4e4 }
/*#TDCInfo button:enabled,input[type=button]:enabled,input[type=reset]:enabled,input[type=select]:enabled {background-color:#e5fbe2}*/
#TDCInfo button:enabled, input[type=button]:enabled, input[type=reset]:enabled, input[type=select]:enabled { }

#TDCInfo [class^="FieldSection"] { display: inline-block; float: left; clear: both; }
#TDCInfo [class^="FieldLabel"] { display: inline-block; float: left; clear: both; white-space: normal; padding-top: 4px }
#TDCInfo div[class*="Right"] { text-align: right; margin-right: 20px; }
#TDCInfo [class^="FieldData"] { display: inline; font-weight: bold; }
#TDCInfo div[class*="LabelSmall"] { width: 150px; }
#TDCInfo div[class*="DataSmall"] { width: 100px; }
#TDCInfo div[class*="LabelMed"] { width: 250px; }
#TDCInfo div[class*="DataMed"] { width: 300px; }
#TDCInfo div[class*="LabelLarge"] { }
#TDCInfo div[class*="DataLarge"] { }

#TDCInfo input[type=file] { width: 95%; font-size: smaller; max-width: 850px; }

#TDCInfo div.Label { color: #333333; }
#TDCInfo div.PartOfText { display: inline; }
#TDCInfo div.FieldInfo { color: #333333; display: inline-block; }

#TDCInfo div.FieldBlock { clear: both; display: block; padding-bottom: 2px; }
#TDCInfo div.FieldInfo { color: #333333; display: inline-block; }
#TDCInfo div.FieldLabel { font-weight: bold; width: 350px; }
#TDCInfo [class^="FieldControls"] { display: inline-block; }
#TDCInfo div.FieldControlsInline { }
#TDCInfo div.FieldControlsBelow { clear: both; display: block; }
/*#TDCInfo div.FieldNeeded { background-color: OrangeRed; }*/
#TDCInfo div.FieldNeeded { }
/*#TDCInfo div.FieldBlock { padding: 3px 3px 3px 3px; margin-bottom: 6px; vertical-align: central; clear:both;}*/
#TDCInfo div.[class^=FieldBlock] { vertical-align: central; clear: both; }
#TDCInfo div.MandatoryMsg { color: Red; padding-top: 6px; }
#TDCInfo div.CommentMsg { color: #343533; clear: both; }
#TDCInfo div.SmallMsg { font-size: x-small; }
#TDCInfo div.Container { white-space: nowrap; }
#TDCInfo div.Contained { white-space: nowrap; vertical-align: top; display: inline-block; }
#TDCInfo div.Summary { font-size: larger; font-weight: bolder; }
#TDCInfo div.TooltipBox { position: fixed; z-index: 2; background-color: wheat; border: 3px outset Red; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: center; }

#TDCInfo div.Float { float: left; }
#TDCInfo div.FloatInline { float: left; display: inline; }
#TDCInfo div.FloatBlock { float: left; display: block; }
#TDCInfo div.FloatInlineBlock { float: left; display: inline-Block; }
#TDCInfo div.FloatInlineRight { float: right; display: inline; }
#TDCInfo div.FloatBlockRight { float: right; display: block; }
#TDCInfo div.FloatInlineBlockRight { float: right; display: inline-Block; }
#TDCInfo div.FloatInlineShaded { float: left; background-color: #80FF80; display: inline; }
#TDCInfo div.FloatBlockShaded { float: left; background-color: #EE6A3E; display: block; }
#TDCInfo div.FloatInlineBlockShaded { float: left; background-color: #F75235; display: inline-Block; }
#TDCInfo div.NoFloat { float: none; background-color: #7D81EE; }
#TDCInfo div.NoFloatInline { float: none; background-color: #68AAF2; display: inline; }
#TDCInfo div.NoFloatBlock { float: none; background-color: #6F9AFF; display: block; }
#TDCInfo div.NoFloatInlineBlock { float: none; background-color: #547AFC; display: inline-Block; }
#TDCInfo div.ClearOfFloat { clear: both; background-color: #80FE6D; }
#TDCInfo div.BorderedBox { background-color: wheat; border: ridge thin #b70d0d; padding: 5px; margin: 5px; border-radius: 3px; }
#TDCInfo .FloatLeftWithTextFlowAround { float: left; }
#TDCInfo .FloatRightWithTextFlowAround { float: right; }


/* Modifications ot UI JQuery sizes of user inteface components */
.ui-datepicker { width: 17em; padding: .2em .2em 0; font-size: 10px !important; }
#TDCInfo ul#NavMenu { font-size: 1.3em; font-weight: 600; margin: 0 0 5px; padding: 0; }
	#TDCInfo ul#NavMenu li { padding-left: 15px; }
		#TDCInfo ul#NavMenu li a { background: none; color: #999; text-decoration: none; }
			#TDCInfo ul#NavMenu li a:hover { color: #333; text-decoration: none; }

.ui-menu-item { font-size: 12px; background-color: #f8e4a1; }

/*.footercontainer .grid_2,
.footercontainer .grid_3,
.footercontainer .grid_4 { padding: 0px 0px; }*/
